body {
    padding: 20px;
    background-color: rgb(246, 239, 199); 
}

.navbar-nav {
    margin-bottom: 20px;

}

header a {
    color: white !important; 
}


section {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

#home_pic{
  border-radius: 50%;
  width: 500px; height: 500px;
  margin-bottom: 50px;
  padding: 20px;
}

#welcome {
    width: 55%;
    display: inline-block;
    text-align: justify;
    padding-right: 20px;
}

#start{
    margin:0px;
    background-color: #805e4e; 
    color: white; 
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 70px;
    
}

.people{
    background-color: #805e4e; 
    border-radius: 7px;
    color:whitesmoke;
}

.testimonial-author {
    /* color: rgb(255, 237, 211) !important; */
    color:white !important;
}



.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px;
}

.jumbotron h1 {
    text-shadow: 2px 2px 2px black; 
}

.jumbotron p {
    text-shadow: 1px 1px 2px black; 
}


.first-title{
    text-align: center;
    font-size: 2.5rem;
    color: #333;  
    font-weight: bold;
    margin-bottom: 30px;  /* space below the title */
    letter-spacing: 2px;  /* space between letters */
    font-family: 'Arial', sans-serif;  
    color: white; 
   

}

.second-title{

    text-align: center;
    font-size: 2.5rem;
    color: #333;  
    font-weight: bold;
    margin-bottom: 30px; 
    letter-spacing: 2px;  
    font-family: 'Arial', sans-serif;  

}



.card {
    height: 600x;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s ease-in-out; 
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 3); 
}


.card-img-top {
    object-fit: cover;  
    height: 300px;  /*image hieght */
    width: 100%;  
}


.card-body {
    flex-grow: 1;  /* so body takes up available space making cards even */
}


.btn{
    background-color: #805e4e !important;
    color:white !important;
}


/* Mobile devices */
@media (max-width: 480px) {
    .gallery-container {
        column-count: 1; 
      }
    }
/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
        .gallery-container {
            column-count: 2; 
          }
    }
    
/* Desktops */
    
@media (min-width: 769px) {
        .gallery-container {
            column-count: 4; 
          }
    }

.galley-item { 
    display: inline-block; /* flow next to eachother but i can still set dimensions */
    margin-bottom: 15px; 
    width: 100%; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.34);
 
  }
  

.galley-item img {
    display: block;
    width: 100%;
    height: auto; 
    object-fit: cover;
   
  }
  
  
.galley-item:hover img {
    transform: scale(1.03);
    box-shadow:rgba(9, 2, 28, 0.3);
  }
  