body {
    padding: 20px;
    background-color: rgb(246, 239, 199); 
}

/* .navbar-nav {
    margin-bottom: 20px;

} */

header a {
    text-decoration: none;
}


section {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

#home_pic{
  border-radius: 50%;
  width: 500px; height: 500px;
  margin-bottom: 50px;
  padding: 20px;
}

#welcome {
    width: 55%;
    display: inline-block;
    text-align: justify;
    padding-right: 20px;
}

#start{
    margin:0px;
    background-color: #805e4e; 
    color: white; 
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 70px;
    
}

.people{
    background-color: #805e4e; 
    border-radius: 7px;
    color:whitesmoke;
}

.testimonial-author {
    /* color: rgb(255, 237, 211) !important; */
    color:#805e4e!important;
}



.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    
}

.jumbotron h1 {
    text-shadow: 2px 2px 2px black; 
}

.jumbotron p {
    text-shadow: 1px 1px 2px black; 
}


.first-title{
    text-align: center;
    font-size: 2.5rem;
    color: #333;  
    font-weight: bold;
    margin-bottom: 30px;  /* space below the title */
    letter-spacing: 2px;  /* space between letters */
    font-family: 'Arial', sans-serif;  
    
   

}

.second-title{

    text-align: center;
    font-size: 2.5rem;
    color: #333;  
    font-weight: bold;
    margin-bottom: 30px; 
    letter-spacing: 2px;  
    font-family: 'Arial', sans-serif;  

}



.card {
    height: 600x;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s ease-in-out; 
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 3); 
}


.card-img-top {
    object-fit: cover;  
    height: 300px;  
    width: 100%;  
}


.card-body {
    flex-grow: 1;  /* so body takes up available space making cards even */
}


.btn{
    background-color: #805e4e !important;
    color:white !important;
}


/* Mobile devices */
@media (max-width: 480px) {
    .gallery-container {
        column-count: 1; 
      }
    }
/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
        .gallery-container {
            column-count: 2; 
          }
    }
    
/* Desktops */
    
@media (min-width: 769px) {
        .gallery-container {
            column-count: 4; 
          }
    }

.galley-item { 
    display: inline-block; /* flow next to eachother but i can still set dimensions */
    margin-bottom: 15px; 
    width: 100%; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.34);
 
  }
  

.galley-item img {
    display: block;
    width: 100%;
    height: auto; 
    object-fit: cover;
   
  }
  
  
.galley-item:hover img {
    transform: scale(1.03);
    box-shadow:rgba(9, 2, 28, 0.3);
  }


.details-table {
    border: 5px ;
    border-radius: 10px;
    padding: 15px;
    margin: 8px;
    background-color: #aa81819b ;
    border-color: white;

    
}

/* Added this so all content will be centered and have white space from both sides :)*/
#destinationDetails {
    width: 70%; 
    margin: 0 auto; 
    padding: 20px 0; 
}

.details-table-info {
    font-family: cursive;

    color:white;
}

.details-table-image {
    
    height: 350px; 
    
}

#iimgage {
    max-height: 100%;
    object-fit: cover; 
}

.details-table tr:hover {
    background-color: #706868a3;
    transition: background-color 0.3s ease;
}

#destinationName{
    
    text-align: center;
    margin-bottom: 10px ;/*space belo it*/
    color: #4a3f35;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;

}

#destinationDescription{
    font-size: 1.5rem;
    text-align: justify;
    margin: 0 auto; /* center the description*/
    line-height: 1.5;
    margin: 20px ;
    color: #4a3f35;
    border-bottom: 2px solid #e6d8c3; 
    padding-bottom: 10px; 

    border-top: 2px solid #e6d8c3; 
    padding-top: 10px; 
}

/* .nav-style /*put this in destinationList, but not working yet */
/* {
    color: #463129;
}  */




.titles {
        text-align: center;
        padding: 20px;
        color: white;
        font-style: italic;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 30px;
}

.search-section {
    background: linear-gradient(135deg, #3e2b22, #805e4e); 
    padding: 50px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


#searchBar {
    width: 400px; 
    height: 50px;
    border: none;
    border-radius: 25px 0 0 25px;
    padding: 0 20px;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    outline: none;
}

.fas:hover {
    transform: scale(1.2);

}
.search-button {
    height: 50px;
    width: 60px;
    background: white;
    border: none;
    border-radius: 0 25px 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    transition: transform 0.2s ease, color 0.2s ease;
}




.view-more-buttons /*not working*/ {
    border-color: #463129;
    color: #775040;
    border-radius: 35%;

}

.modal-body p{

line-height: 2;
padding: 15px;
color: rgb(66, 50, 50)
}

.modal-body h5{
    color: #462b29;
}

.accordion-body{
font-size: 1rem;
border-top-color: #462b29;
line-height: 1;
color: #462b29;
line-height: 2;
}

.accordion-button{
    font-size: 1.2rem;
    color:  #3b3030da;
    border-color: #462b29;
}


.accordion-button:hover {
    background-color: #9a808061;
}
  
form {
    background: #9a8080da;
    border: 2px solid #f8c1c4;
    border-radius: 12px;
    padding: 20px;
    max-width: 400px;
    margin:0;
    box-shadow: 0px 4px 6px rgba(63, 44, 44, 0.1);
}

button.subm {
    background-color: #956552;
    color: #462b29;
    border: 12;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;

}

button.subm:hover {
    background-color: #402927;
}


.FAQ-bckgrnd-img{
    color: white;
    text-align: center;
    background: linear-gradient(135deg,  #805e4e, #3e2b22); 
    padding: 50px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: large;
    
}




.accordion-button:not(.collapsed) {
    color: rgb(54, 47, 47);
}

.accordion-button {
    color: rgb(77, 67, 67);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:collapsed {
    color: rgb(77, 67, 67);
}

.make-it-fade {
    opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


